.logo
{
    width: 220px;
    height: auto;
}
.side-title > h3
{
    font-size: 21px;
    margin-bottom: 3px;
}
.side-title > p
{
    font-size: 12px;
    margin-bottom: 3px;
}
.sosial-media > img
{
    width: 30px;
    height: auto;
}
.navbar-custom
{
    background-image: url(images/bg-menu.jpg);
}
li.active
{
    background-image: url(images/bg-menu-hover.png);
}


.footer
{
    background-color: #0F3065;
}
.judul{
    text-shadow: 3px 5px 3px rgb(85, 85, 83);
}